<html>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static',filename='styles/login.css') }}" rel="stylesheet" type="text/css">
    <div class="login-block">
    {% if error %}
        <h1 id="invalid">Invalid credentials</h1>
    {% else %}
        <h1>Login</h1>
    {% endif %}
        <form action="" method="post">
            <input type="text" value="" placeholder="Username" id="username" name="username" value="{{request.form.username }}"/>
            <input type="password" value="" placeholder="Password" id="password" name="password" value="{{request.form.password }}"/>
            <button type="submit">Submit</button>
        </form>
	<a href="{{ url_for('register') }}">Not registered? Sign up here!</a>
    </div>
</html>
